<h2 class="center">
    Titulo del Grafico
</h2>

<div #chart id="chart"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">Izquierda</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Derecha</button>
        </div>
    </div>
   
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm">
            <button type="button" class="btn" style="background-color:grey">Cambiar Forma</button>
        </div>
    </div>
</div>