<h2>
    Bubble Chart Tittle
</h2>

<div #my_data id="my_data"></div>



<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col" >
            <button class=" btn btn-primary">
                Rectangulo
            </button>
        </div>
        <div class="col">
            <button class=" btn btn-primary">
                Barras
            </button>
        </div>
        <div class="col">
            <button class=" btn btn-primary">
                Glifo
            </button>
        </div>
    </div>
    <!-- <div class="row" style="margin-top: 10px;">
        <div class="col">
            <button class="btn btn-primary">
                Boton
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary">
                Boton
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary">
                Boton
            </button>
        </div>
    </div> -->
    
</div>

